.carousell{
    width: 65em !important;
}
.carousel img{
    height: 200px;
}
.containerCarousel{
    display: grid;
    justify-content: center;
      margin-top: 7em;
}

@media(max-width:1020px) {
    .carousel{
    width: 100% !important;
}
}
@media(max-width:400px) {
   .carousel img{
    height: 120px;
}
}

