.atrasContainer{
   margin-top:20px;
   margin-left: 10px;
}
.atras{
    font-size: 16px;
    text-decoration: none;
    padding:10px;
    font-weight:600;
    border-radius: 5%;
    
    background-color: rgba(0, 0, 0, 0.133);
    color: rgb(0, 0, 0);
}
.producto-content{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    
}
.producto-content img{
    width: 100%; 
    height: 550px;
  border-radius: 8px;
  padding: 50px;

}
.producto-content-info{
    text-align: center;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.producto-content-info h1{
    font-size: 3.5em;
      font-weight: bold;
}
.producto-content p{
    font-size: 1.7em;
}
.producto-content h2{
    color: rgb(0, 0, 57);
    font-weight: bold;
    font-size: 3em;
}
.botones button{
    margin:5px;
    padding: 15px;
}
@media  (max-width: 768px) {
.producto-content{
    display: grid;
    grid-template-columns: 1fr; 
}
.producto-content-info{
    padding: 0px;
    margin-bottom: 40px;
}
.producto-content-info p{
    padding: 1em;
    font-size: 1.2em;
}
.producto-content-info h1{
    font-size: 2em;
  
}
.producto-content-info h2{
    font-size: 2.5em;
}
.producto-content img{ 
    height: 450px;
    width: 100%;
    padding: 50px;
}
}