.logo-wpp{
     position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  background-color: rgb(47, 255, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.logo-wpp img{
    height: 30px;
}