.buscar-container{
    margin-top: 8em;
    text-align: center;
}
.buscar-container h1{
    font-weight: bold;
    margin-bottom: 10px;
}
.buscar-container h4{ 
    margin: 30px;
    padding: 3.5em;
}
.container-encontrados{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
