.title-check{
    font-size: 2.3em;
    padding: 4px;
    text-align: center;
    font-weight: bold;
}
.container-check{
    padding: 9%;
    margin-top: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 30px;
}
.detailCompra{
  text-align: center;
  padding: 10px; 
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 30px rgb(0, 0, 0);
  background-color: white;
  border-radius: 2%;
}
.detailCompra img{
   width: 7em;
   height: 7em;
}

@media (max-width:880px){
    .container-check{  
    grid-template-columns:  1fr;
        margin-top: 60px;
    }
    .title-check{
    font-size: 1.4em;
    }
    .detailCompra{
        margin-top: 2em;
     }
}