.error-validacion{
    color: white;
    background-color: #cb0000b6;
    padding: 6px;
    border-radius: 10px; 
    width: fit-content;
    box-shadow: 0 1px 30px rgba(0,0,0,0.3);
    margin-top: 4px;
    animation: popError 0.25s ease-out forwards;
}
.form-contend{
  box-shadow: 0 5px 30px rgb(0, 0, 0);
  background-color: whitesmoke;
  width: 50%;
  padding: 20px;
}
.form-container{
  display: flex;
  justify-content: center;
}
label {
  font-weight: 600;
}
@keyframes popError{
    from {
    opacity: 0;
    transform: scale(0.90);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 720px) {
  .form-contend{
  width: 80%;
}
}