.title-Novedades{
    text-align: center;
    margin: 20px;
    font-size: 3em;
    font-weight: bold;
    font-family: cursive;
    color: aliceblue;
    padding: 10px;
}
.carousel{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}