.carrito-container{
  padding: 20px;
}
.empty-cart{
  text-align: center;
}
.empty-cart h1{
    font-weight: bold;  
}
.cardCarrito{
  background-color: white;
  box-shadow: 0 2px 5px black;
  height: 230px;
  padding: 10px;
  border-radius: 10%;
  margin-bottom: 30px;
}
.cardCarrito .cartButton{
  display: flex;
  justify-content: end;
}
.cardCarrito .cartButton i{
  padding: 5px;
  font-size: 22px;
  color: rgb(194, 0, 0);
}
.titleCart{
  background-color: rgb(229, 173, 69);
  border-bottom: 1px solid rgb(223, 223, 223);
}
.cardDetail{
  border-top: 1px solid gray;
  text-align: center;
  position:sticky;
  bottom: 0;
  padding: 10px;
  box-shadow: 0 2px 5px black;
  background-color: whitesmoke;
  border-radius: 8%;
}
.cardDetail h4{
  font-weight: 700;
  text-shadow: 0 1px 5px rgb(246, 246, 246);
}
